<!DOCTYPE html>
<html>
  <head>
    <title>SampleHotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-10 px-5 flex flex-row space-x-5">
      <nav class="flex-col space-y-1">
        <a
            href="/messages"
            class="block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700"
            >
            Messages
        </a>
          <a
              href="/"
              class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700"
              >
              Home 
          </a>
      </nav>
      <div class="flex-grow">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
